@import url('../../css/styles.css');

/* *MOBILE */

/* *TEMA OSCURO */
.contactOscuro {
    display: none;
}

.oscuro .content-img img {
    opacity: 0;
}

.oscuro .content-img {
    width: 100%;
    height: 23vh;
    background-image: url(../assets/img/bannerContactoOscuro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.oscuro label {
    color: var(--colorPrimary);
}

/* *TEMA CLARO */
.container-main {
    display: flex;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.container-form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 80vh;
    overflow: hidden;
}

.content-titulo {
    position: absolute;
    width: 50%;
    right: 0;
    margin-top: 2%;
    margin-right: 10%;
}

.titulo-contacto {
    text-align: center;
    font-family: var(--fontTitle);
    font-size: 4rem;
    margin: 20px;
    color: var(--colorPrimary);
}

.content-foto {
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
}

.content-foto img {
    width: 100%;
}


.content-redes {
    display: flex;
    justify-content: space-between;
    width: 60%;
    right: 0;
    margin: 0 auto;
    margin-top: -12%;
}

.icon {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon i {
    width: 2rem;
    padding: 0.5rem;
    border-radius: 100%;
    background-color: var(--colorPrimary);
    color: var(--colorComplementaryPrimary);
    font-size: 1rem;
    text-align: center;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.3s;
}

.content-datos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 2rem;
}

form {
    width: 90%;
}

.inputContainer {
    height: 45px;
    width: 100%;
    margin-bottom: 5%;
}

.input {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0 20px;
    border-radius: 2rem;
    z-index: 1;
    font-size: 16px;
    padding: 20px 70px 20px 10px;
}

.input::placeholder,
textarea::placeholder {
    color: var(--colorPrimary);
    font-family: var(--fontBody);
    font-size: 16px;
}

.input,
textarea {
    background-color: var(--colorTertiary);
    color: var(--colorComplementarySecondary);
    font-family: var(--fontBody);
    font-weight: 300;
    font-size: 16px;
}

.input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
    transition: .6s;
}

textarea {
    width: 100%;
    height: 8rem;
    border-radius: 2rem;
    resize: none;
}

textarea::placeholder {
    padding: 0px 0px;
}

#mensaje {
    line-height: 10px;
    padding: 20px;
    font-size: 16px;
}

.submitBtn {
    font-weight: bold;
    width: 200px;
    height: 40px;
    background: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 8rem;
    margin-left: 25%;
    color: var(--colorComplementaryPrimary);
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.submitBtn:hover {
    background: var(--colorTertiary);
    color: var(--colorPrimary);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, .8);
}

.submitBtn:active {
    transform: translateY(0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
}

.submitBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250%;
    height: 250%;
    background: rgba(255, 255, 255, 0.15);
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;

}

.submitBtn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

label {
    display: none;
}

.toast {
    visibility: hidden;
    max-width: 50%;
    margin: 0 auto;
    background-color: var(--colorPrimary);
    color: var(--colorComplementaryPrimary);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* *TABLET */
@media screen and (min-width: 768px) {

    /* *TEMA OSCURO TABLET */
    .oscuro .container-form {
        width: 85vw;
        height: 100%;
        background-image: url(../assets/img/bannerContactoOscuro.jpg);
        opacity: 1;
    }

    .container-main {
        width: 100vw;
        min-height: 90vh;
    }

    .container-form {
        align-items: center;
        width: 85vw;
        height: 100%;
        padding: 20% 0 5% 0;
        /* border: 1px solid var(--colorPrimary); */
        box-shadow: 1px 1px 15px 1px var(--colorSecondary);
        border-radius: 2rem;
        background-image: url(../assets/img/bannerContacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
    }

    .content-titulo {
        display: flex;
        justify-content: center;
        align-items: start;
        width: 70%;
        min-height: 10rem;
        margin-top: -15%;
        text-align: center;
        margin-right: 13%;
    }

    .titulo-contacto {
        margin-top: -1.5rem;
    }

    .content-img {
        display: none;
    }

    .icon {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.2rem;
    }

    .content-datos {
        width: 70%;
        padding-top: 0;
    }

    .content-redes {
        align-items: center;
        min-height: 5rem;
    }

    .input {
        background: var(--colorComplementaryPrimary);
        backdrop-filter: blur(15px);
    }

    textarea {
        height: 7rem;
        background: var(--colorComplementaryPrimary);
    }

    .submitBtn {
        width: 40%;
        margin-top: 30%;
        max-width: 10;
    }

    .toast {
        visibility: hidden;
        max-width: 50%;
        margin: 0 auto;
        background-color: var(--colorPrimary);
        color: var(--colorComplementaryPrimary);
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
        transform: translateX(-50%);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .toast.show {
        visibility: visible;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }
}

/* *DESKTOP 1024 */
@media screen and (min-width: 1024px) {

    /* *TEMA OSCURO DESKTOP */
    .container-form,
    .oscuro .container-form {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 50vh;
        min-height: 73vh;
        padding: 5% 0 0 0;
        margin: 0 auto;
        background: url(/assets/img/bannerContacto.jpg);
        background-size: cover;
        background-position: left;
    }

    .oscuro .container-form {
        background-image: url(../assets/img/bannerContactoOscuro.jpg);
        opacity: 1;
    }

    /* *TEMA CLARO DESKTOP */
    .container-main {
        min-height: 80vh;
    }

    .content-titulo {
        width: 40%;
        min-height: 10rem;
        right: 0;
        top: 0;
        margin-top: 3%;
        margin-right: 5%;
        text-align: start;
    }

    .titulo-contacto {
        margin-left: -2rem;
    }

    label {
        display: block;
        align-items: center;
        display: flex;
        margin-left: 20%;
        min-width: 16rem !important;
        font-size: 0.6rem;
        font-weight: 300;
        color: var(--colorComplementaryPrimary);
    }

    .inputContainer {
        height: 1.5rem;
        width: 32vw;
        margin-bottom: 1.4rem;
    }

    .input {
        background: var(--colorComplementaryPrimary);
        top: -5rem;
    }

    textarea {
        background: var(--colorComplementaryPrimary);
        padding: 20px;
    }

    .content-foto {
        margin: 5%;
        margin-bottom: 4rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: 60vw;
        height: 80vh;
    }

    .content-datos {
        width: 100%;
        height: 50vh;
        margin-top: -6rem;
    }

    .content-img img {
        margin: 0;
        border-radius: 2rem;
    }

    .content-redes {
        width: 40%;
        height: 18vh;
        position: absolute;
        flex-direction: column;
        bottom: 0;
        left: 0;
        margin-bottom: 4%;
        margin-left: 5%;
        /* background-color: rgba(255, 255, 255, 0.589); */
        border-radius: 0.5rem;
    }

    .content-redes .icon {
        display: flex;
        flex-direction: row;
        margin-left: -16rem;
    }

    .icon i {
        min-width: 2rem;
    }

    .icon {
        margin-bottom: -0.5rem;
    }

    .submitBtn {
        position: absolute;
        width: 20%;
        margin-top: 5rem;
        margin-left: 10%;
    }

    .toast {
        visibility: hidden;
        max-width: 50%;
        margin: 0 auto;
        background-color: var(--colorPrimary);
        color: var(--colorComplementaryPrimary);
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
        transform: translateX(-50%);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .toast.show {
        visibility: visible;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }
}

@media screen and (min-width: 1280px) {
    .container-main {
        min-height: 90vh;
    }

    .container-form {
        min-height: 76vh;
    }

    .content-redes {
        width: 40%;
        height: 22%;
        margin-bottom: 5%;
        margin-left: 2%;
    }

    label {
        font-size: 0.8rem;
    }


    .inputContainer {
        margin-bottom: 2.5rem;
    }

    .titulo-contacto {
        font-size: 6rem;
    }

    .submitBtn {
        font-size: 20px;
    }

}

@media screen and (min-width: 1366px) {
    .content-redes {
        width: 40%;
        height: 24%;
        margin-bottom: 2%;
        margin-left: 1%;
    }

    label {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1440px) {
    .container-main {
        min-height: 100vh;
    }

    .container-form {
        min-height: 79vh;
    }

    .content-redes {
        width: 40%;
        height: 22%;
        margin-bottom: 4%;
        margin-left: 1%;
    }

    .input {
        height: 3rem;
    }

    .inputContainer {
        margin-bottom: 3rem;
    }

    .titulo-contacto {
        font-size: 8rem;
    }
}

@media screen and (min-width: 1920px) {

    .content-redes {
        width: 40%;
        height: 22%;
        margin-bottom: 3%;
        margin-left: -3%;
    }

    label {
        font-size: 1rem;
    }

    .inputContainer {
        margin-bottom: 4rem;
        margin-top: -1rem;
    }

    .input {
        height: 3.5rem;
    }

    textarea {
        height: 9rem;
    }

    .titulo-contacto {}

    .submitBtn {
        height: 4rem;
        margin-top: 7rem;
    }
}