@import url("../../css/stylesApp.css");

/** MOBILE **/

.container-main {
  width: 55%;
  margin-top: 55%;
  margin-left: 28%;
  z-index: -2;
}

.container-main h3 {
  color: var(--colorPrimary);
}

.container-main,
input,
select,
textarea {
  border-radius: 1rem !important;
}

label,
input,
select,
textarea {
  margin-top: 0.3rem;
}

.form-group label {
  margin-bottom: 2%;
  margin-left: 2%;
}

.form-group input,
select,
textarea {
  border: 1px solid var(--colorPrimary) !important;
}


.btn-success {
  position: absolute;
  font-weight: bold;
  width: 200px;
  height: 40px;
  background: var(--colorPrimary);
  border: 1px solid var(--colorPrimary) !important;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 17px;
  margin-top: -2.5rem;
  color: var(--colorComplementaryPrimary);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-success:hover {
  background: var(--colorTertiary);
  color: var(--colorPrimary);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, .8);
}

.btn-success:active {    
  transform: translateY(0);
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
}

.btn-success::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250%;
  height: 250%;
  background: rgba(255, 255, 255, 0.15);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;

}
.btn-success:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.btn-primary {
  position: absolute;
  font-weight: bold;
  width: 200px !important;
  height: 40px;
  background: var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 17px;
  margin-top: -2.5rem;
  color: var(--colorComplementaryPrimary);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background: var(--colorTertiary);
  color: var(--colorPrimary);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, .8);
}

.btn-primary:active {    
  transform: translateY(0);
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
}

.btn-primary::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250%;
  height: 250%;
  background: rgba(255, 255, 255, 0.15);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;

}
.btn-primary:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.btn-primary {
  width: 33%;
  margin-top: -2.5rem;
  border: 2px solid var(--colorQuinary) !important;
  background-color: var(--colorQuinary) !important;
  border-radius: 2rem !important;
  margin-bottom: 1.5rem;
}

.btn-primary:hover {
  background-color: var(--colorComplementaryPrimary) !important;
  color: var(--colorQuinary) !important;
  border-radius: 2rem !important;
}

.btn-warning {
  border: none !important;
  background: none !important;
}

.btn-warning i {
  margin-top: -2rem !important;
  border: none !important;
  background: none !important;
  color: var(--colorQuinary) !important;
  font-size: 1.5rem;
}

.btn-danger {
  border: none !important;
  background: none !important;  
}

.btn-danger i {
  margin-top: -2rem;
  border: none !important;
  background: none !important;
  color: var(--colorSextary) !important;
  font-size: 1.5rem;
}

.table-responsive {
  width: 100%;
  margin-top: 2rem;
}

#botonModificar {
  display: none;
}

input:focus,
input[type]:focus,
select:focus,
textarea:focus {
  border-color: var(--colorPrimary) !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

/* *DESKTOP 1024*/
@media screen and (min-width: 1024px) {

  .container-main {
    margin-top: 4rem !important;
    margin-left: 27%;
  }

}