@import url('../../css/styles.css');

/** MOBILE **/
html {
    scroll-behavior: smooth;
}

.container-main {
    padding-bottom: 3rem;
}

.contenedor-filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: var(--colorQuaternary); */
    gap: 1rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.contenedor-filtros a {
    text-align: center;
    color: var(--colorComplementarySecondary);
    padding: 0.5rem;
    position: relative;
    transition: color 0.2s ease;
}

.contenedor-filtros a:hover {
    color: var(--colorPrimary);
}

.contenedor-filtros a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--colorPrimary);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.contenedor-filtros a:hover::after {
    transform: scaleX(1);
}

.productos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.producto {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    z-index: 2;
    padding-top: 2rem;
}

.producto img {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 3; /* Asegura que la imagen esté por encima del círculo */
    width: 170px;
}

.contenedor-productos h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-productos {
    text-align: center;
}

.contenedor-productos h1 {
    color: var(--colorPrimary);
    font-family: var(--fontTitle);
    font-size: 3.8rem;
}

.svgFooter{
    height: 5px;
    margin-top: 10px;
}

.content-productos h2 {
    color: var(--colorPrimary);
    height: 100px;
    font-family: var(--fontTitle);
    font-size: 2.4rem;
    background-color: var(--colorTertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 100%;
    height: 3rem;
    background-image: url(../../assets/svg/banner.svg);
    background-size: contain;
    background-repeat: repeat-x;
}

.circulo {
    width: 170px;
    height: 170px;
    background: linear-gradient(135deg, var(--colorTertiary) 10%, var(--colorPrimary) 75%);
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.descripcion-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
}

.boton-modulo {
    width: 90px;
    height: 40px;
    background-color: var(--colorSecondary);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.boton-modulo:hover {
    background-color: var(--colorQuaternary);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}


/* *TABLET */
@media screen and (min-width: 767px) {
    .container-main {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .contenedor-filtros {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: var(--colorQuaternary); */
        gap: 1rem;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    }


    .contenedor-filtros a {
        text-align: center;
        color: var(--colorComplementarySecondary);
        padding: 0.5rem;
        position: relative;
        transition: color 0.2s ease;
    }

    .contenedor-filtros a:hover {
        color: var(--colorPrimary);
    }

    .contenedor-filtros a::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: var(--colorPrimary);
        transform: scaleX(0);
        transition: transform 0.2s ease;
    }

    .contenedor-filtros a:hover::after {
        transform: scaleX(1);
    }

    .banner{
        height: 3rem;
    }

    .content-productos h2 {
        height: 90px;
        margin-top: 40px;
    }

    .productos-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .producto {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        z-index: 2;
        padding-top: 2rem;
    }

    .producto img {
        position: absolute;
        top: 25%;
        left: 5%;
        z-index: 3; /* Asegura que la imagen esté por encima del círculo */
        width: 170px;
    }

    .circulo {
        width: 170px;
        height: 170px;
        background: linear-gradient(135deg, var(--colorTertiary) 10%, var(--colorPrimary) 75%);
        border-radius: 50%;
        position: relative;
        z-index: 1;
    }

    .descripcion-producto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .precio-producto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* *DESKTOP 1024 */
@media screen and (min-width: 1024px) {
    .container-main {
        min-height: 100vh;
    }

    .contenedor-filtros a {
        padding: 1rem;
        font-size: 1rem;
    }

    .producto {
        flex: 1 1 calc(33.33% - 2rem);
        max-width: calc(33.33% - 2rem);
    }

    .content-productos h2 {
        font-size: 2.6rem;
    }

    .producto img {
        top: 25%;
        left: 25%;
        width: 170px;
    }

    .descripcion-producto {
        font-size: 1rem;
    }

    .precio-producto {
        font-size: 1rem;
    }

    .banner{
        /* width: 100%; */
        height: 3rem;
    }

    .svgFooter{
        height: 10px;
        margin-top: 50px;
    }

    @media screen and (min-width: 1920px){
        .banner{
            /* width: 100%; */
            height: 3rem;
        }

        .svgFooter{
            height: 10px;
            margin-top: 50px;
        }
    
    }

}














