@import url('../../css/styles.css');

/** Mobile **/
.container-descripcion {
    padding: 0 30px;
}


.titulo_nosotros {
    text-align: center;
    font-family: var(--fontTitle);
    font-size: 4rem;
    margin: 20px;
    color: var(--colorPrimary);
}

.content-info {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;
}

.content-descripcion h1 {
    text-align: center;
    font-family: var(--fontSubtitle);
    font-weight: 750;
    font-size: x-large;
    /* color: var(--colorPrimary); */
}

.content-descripcion p {
    text-align: justify;
    font-family: var(--fontBody);
    font-weight: 400;
    font-size: small;
    color: var(--colorComplementarySecondary);
}

.content-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.img-torta {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    transition: transform 0.5s;
}

.img-torta:hover img {
    transform: scale(1.1);
}

.img-torta>img {
    height: 145px;
    width: 100%;
    display: block;
    border-radius: 15px;
    /* box-shadow: 0 1px 5px 0 rgba(243, 65, 148, 0.5); */
    box-shadow: 3px 5px 0 var(--colorSecondary);
}

/** Tablet **/

@media (min-width: 768px) {
    .content-descripcion h1 {
        padding: 10px;
        text-align: start;
        font-family: var(--fontSubtitle);
        font-weight: 700;
        font-size: x-large;
        color: var(--colorPrimary);
        margin: 0 10px;
    }

    .content-descripcion p {
        width: 95%;
        padding: 10px;
        text-align: justify;
        font-family: var(--fontSubtitle);
        font-weight: 400;
        font-size: large;
        color: var(--colorComplementarySecondary);
        margin: 0 10px;
    }

    .content-descripcion {
        display: flex;
    }

    .content-info {
        max-width: 50%;
    }

    .content-img {
        margin-top: 50px;
    }

    .img-torta:hover img {
        transform: scale(1.1);
    }
}

/** Deskptop **/
@media (min-width: 1024px) {

    .info-superior {
        max-width: 1400px;
        margin: auto;
        display: grid;
    }

    .titulo_nosotros {
        font-size: 6.4rem;
    }

    .content-info {
        padding-top: 25px;
        padding-right: 40px;
    }

    .content-img{
        gap: 20px;
    }

    .container-descripcion {
        margin: 0 40px;
    }

    .content-descripcion p {
        width: 95%;
    }

    .img-torta img {
        width: 200px;
        height: 200px;
    }

    .img-torta:hover img {
        transform: scale(1.1);
    }

    .content-info {
        margin-top: 70px;
    }
}