@import url('../../css/styles.css');  

/** Mobile **/

.banner{
    width: 100%;
    height: 3rem;
    background-image: url(../assets/img/banner.svg);
    background-size: contain;
}

.container-descripcion{
    padding: 20px;
}

.content-descripcion h1{
    padding: 10px;
    text-align: center;
    font-family: var(--fontSubtitle);
    font-weight: 700;
    font-size: x-large;
    color: var(--colorPrimary);
}

.content-descripcion p{
    padding: 10px;
    text-align: justify;
    font-family: var(--fontBody);
    font-weight: 400;
    font-size: small;
    color: var(--colorComplementarySecondary);
    margin-top: 0;
    padding: 10px;
}

.content-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img-torta{
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.img-torta img:hover{
    width: 150px;
    height: 150px;
}
.img-torta:nth-last-child(1){
    display: none;
}

.img-torta > img{
    object-fit: cover;
    height: 145px;
    width: 145px;
    display: block;
    border-radius: 15px;
    box-shadow: 0 1px 5px 0 rgba(243, 65, 148, 0.5);
}

/** Tablet **/

@media (min-width: 768px) {
    .content-descripcion h1{
        padding: 10px;
        text-align: start;
        font-family: var(--fontSubtitle);
        font-weight: 700;
        font-size: x-large;
        color: var(--colorPrimary);
        margin: 0 10px; 
    }
    .content-descripcion p{
        width: 95%;
        padding: 10px;
        text-align: justify;
        font-family: var(--fontSubtitle);
        font-weight: 400;
        font-size: large;
        color: var(--colorComplementarySecondary);
        margin: 0 10px; 
    }
    
    .content-descripcion {
        display: flex;
    }

    .content-info {
        max-width: 50%;
    }

    .content-img{
        margin-top: 50px;
    }

    .img-torta img:hover{
        width: 170px;
        height: 170px;
    }
}
/** Deskptop **/
@media (min-width: 1024px) {

    .container-descripcion{
        margin: 0 40px;
    }
    .content-descripcion p{
        width: 95%;
    }

    .img-torta img {
        width: 200px;
        height: 200px;
    }
    .img-torta img:hover{
        width: 100%;
        height: 220px;
    }

    .content-info{
        margin-top: 70px;
    }
}