/* *IMPORT */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* *IMPORT ESTILOS DE COMPONENTES */
@import url("../components/navApp/navApp.css");

/* *IMPORT ESTILOS DE PÁGINAS */
@import url("../css/productosApp.css");
@import url("../components/modulosApp/modulosApp.css");
@import url("./tablaApp.css");

@font-face {
  font-family: "Cream Cake";
  src: url(/assets/fonts/Cream\ Cake.otf);
}

/* *VARIABLES */
:root {
  --colorPrimary: #c73753;
  --colorSecondary: #f79ab2;
  --colorTertiary: #ffd8e3;
  --colorQuaternary: #97e8cd;
  --colorQuinary: #3bcc99;
  --colorSextary: #36a0c1;
  --colorSextenary: #f5e4a2;

  --colorComplementaryPrimary: #ffffff;
  --colorComplementarySecondary: #000000;

  --fontTitle: "Cream Cake", sans-serif;
  --fontSubtitle: "Montserrat", sans-serif;
  --fontBody: "Poppins", sans-serif;

  --xtra-large: 2rem;
  --large: 1.25rem;
  --medium: 1rem;
  --small: 0.75rem;
}

/* *FORMATEAR PÁGINA */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
}

html body {
  width: 100%;
  background-color: var(--colorComplementaryPrimary);
  font-family: var(--fontBody);
  font-style: normal;
  font-weight: 400;
  background-image: url("../assets/img/patron_claro.png");
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: overlay; 
}

body.tema-oscuro {
  background-image: url('../assets/img/patron-ocsuro.png');
}

a {
  text-decoration: none !important;
}

.container-modulos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: auto;
  padding-bottom: 2rem;
}


.modulos-titulo h2 {
  margin-top: 1rem;
  margin-left: 10%;
  color: var(--colorPrimary);
  font-family: var(--fontTitle);
  font-size: 4rem;
  text-align: center;
}


/* *TABLET */
@media screen and (min-width: 768px) {
}

/* *DESKTOP 1024*/
@media screen and (min-width: 1024px) {
  .modulos-titulo h2 {
    margin-left: 8%;
    font-size: 5rem;
  }
}

/* *DESKTOP 1280*/
@media screen and (min-width: 1280px) {}

/* *DESKTOP 1366*/
@media screen and (min-width: 1366px) {}

/* *DESKTOP 1440*/
@media screen and (min-width: 1440px) {}

/* *DESKTOP 1920*/
@media screen and (min-width: 1920px) {
  .modulos-titulo h2 {
    font-size: 6rem;
  }
}