<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
</head>

<body>

    <header>
        <nav class="sidebar-panel sidebar">

            <ul class="menu-panel onda">

                <div class="foto-panel">
                    <a href="../../app/panel.html">Panel</a>
                    <img src="../../assets/svg/avatarMujer.svg" />
                </div>
                
                <li class="item-panel">
                    <a href="#"><i class="fa-solid fa-box-archive icono-panel icono-panel"></i><span>Módulos</span></a>
                    <ul class="submenu-panel sidebar">
                        <li class="item-panel"><a href="../../app/productosApp.html"><i class="fa-solid fa-boxes-stacked icono-panel"></i><span>Productos</span></a></li>
                        <li class="item-panel"><a href="#"><i class="fa-solid fa-users icono-panel"></i><span>Usuarios</span></a></li>
                    </ul>
                </li>
                <li class="item-panel"><a href="#"><i class="fa-solid fa-circle-user icono-panel"></i><span>Perfil</span></a></li>
                <li class="item-panel"><a href="#"><i class="fa-solid fa-gear icono-panel"></i><span>Configuración</span></a></li>
                <li class="item-panel"><a href="#"><i class="fa-solid fa-right-from-bracket icono-panel"></i><span>Cerrar sesión</span></a></li>

                <li class="tema-panel">
                    <div class="iconos-tema">
                        <i class="fa-solid fa-moon icono-panel"></i>
                        <i class="fa-solid fa-sun icono-panel"></i>
                    </div>
                    <div class="switch-panel">
                        <span class="switch-tema"></span>
                    </div>
                </li>

            </ul>

            <div class="abrir-panel toggle" id="abrir-menu" aria-expanded="false" aria-controls="menu">
                <i class="fa-solid fa-angle-right icono-panel"></i>
            </div>

            <div class="cerrar-panel" id="cerrar-menu">
                <i class="fa-solid fa-angle-left icono-panel"></i>
            </div>

        </nav>
    </header>

    <main class="container-header">

        <div class="logo-panel">            
            <a href="../../index.html"><img src="../../assets/img/logoMobile.png" /></a>
        </div>

        <div class="buscar-panel">
            <input type="search" class="inputBuscar" placeholder="Buscar" />
            <i class="fa-solid fa-magnifying-glass iconoBuscar icono-panel"></i>
        </div>

    </main>
    
</body>

</html>