<body>
  <div class="swiper-banners">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="banner-principal bg-banners">
          <img
            class="banner-mobile hide-desktop img-pos-top-right"
            src="assets/img/Recurso 2.png"
            alt=""
          />
          <img
            class="banner-mobile hide-desktop img-pos-bottom-left"
            src="assets/img/Recurso 3.png"
            alt=""
          />
          <div class="contenedor-banner">
            <div class="banner-content">
              <h1>Celebra con estilo</h1>
              <p>Crea el postre perfecto para cada ocasión especial</p>
              <a href="./pages/productos.html" class="banner-button"
                >Ordenar Ahora</a
              >
            </div>
            <div class="content-img">
              <img class="img-pos-top" src="assets/img/Recurso 2.png" alt="" />
              <img
                class="img-pos-mid"
                src="assets/img/Recurso 3.png"
                alt="mano con fresa"
              />
              <img
                class="img-pos-bottom"
                src="assets/img/Recurso 4.png"
                alt="torta"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner-second bg-banners">
          <div class="contenedor-banner-2">
            <div class="banner-content-2">
              <h2>¡Tortas para regalar sonrisas!</h2>
              <p>La manera más dulce de demostrar cuanto amas</p>
            </div>
            <div class="content-img-2">
              <img class="img-banner-second" src="assets/img/prueba.png" alt="" />
            </div>
          </div>
      </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide">
        <div class="banner-tercer bg-banners">
          <div class="contenedor-banner-3">
            <div class="banner-content-3">
              
              
            </div>
            <div class="content-img">
              <img class="img-banner-second" src="assets/img/prueba.png" alt="" />
            </div>
          </div>
      </div>
      </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</body>
