<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./slider.css">
  <title>Slider</title>
</head>
<body>
  <div class="slider-container">
    <div class="slider-title">
      <h2>Nuestro equipo</h2>
    </div>
    <div class="slider">
      <div class="slider-inner">
          <div id="cont-1" class="slider-item" data-index="0">
            <div class="slider-item-div">
              <p class="title">Alisson Álvarez | Desarrolladora UX/UI</p>
              <p class="desc-text">Diseñadora web especializada en UX/UI. Creo sitios innovadores y técnicamente sólidos, usando tendencias actuales para soluciones personalizadas que mejoran la experiencia del usuario y reflejan la marca.</p>
            </div>
          </div>
          <div id="cont-2" class="slider-item" data-index="1">
            <div class="slider-item-div">
              <p class="title">Noelia Amaya | Front-end</p>
              <p class="desc-text">Soy estudiante de Ingeniería de Sistemas con habilidades en desarrollo de software, enfoque en adaptación, trabajo en equipo y mentalidad abierta al cambio. Lista para desafíos dinámicos.</p>
            </div>
          </div>
          <div id="cont-3" class="slider-item" data-index="2">
            <div class="slider-item-div">
              <p class="title">Anlly Cardona | Scrum Master</p>
              <p class="desc-text">Experta en facilitar, impulsa la eficiencia y la colaboración en el equipo.
                Su enfoque proactivo y resolutivo crea entornos de trabajo productivos.</p>
            </div>
          </div>
          <div id="cont-4" class="slider-item" data-index="3">
            <div class="slider-item-div">
              <p class="title">Brayan Morales | Back-end</p>
              <p class="desc-text">Estudiante de Análisis y desarrollo de sistemas enfocado en el desarrollo Back-end y apasionado por la tecnología.</p>
            </div>
          </div>
          <div id="cont-5" class="slider-item" data-index="4">
            <div class="slider-item-div">
              <p class="title"> Veleni de la hoz | Product Owner</p>
              <p class="desc-text">Lidero equipos hacia soluciones centradas en el usuario, asegurando productos exitosos mediante visión estratégica y habilidades de priorización basadas en las necesidades del usuario.</p>
            </div>
          </div>
      </div>
      <button class="nav-button prev"> < </button>
      <button class="nav-button next"> > </button>
    </div>
  

  
  
  
    <div class="dots">
      <span data-index="0"></span>
      <span data-index="1"></span>
      <span data-index="2"></span>
      <span data-index="3"></span>
      <span data-index="4"></span>
    </div>
    
    <script src="./slider.js"></script>
  </div>
</body>
</html>
