<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./slider.css">
  <title>Slider</title>
</head>
<body>
  <div class="slider">
    <div class="slider-inner">
        <div id="cont-1" class="slider-item" data-index="0">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam</p>
        </div>
        <div id="cont-2" class="slider-item" data-index="1">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam.</p>
        </div>
        <div id="cont-3" class="slider-item" data-index="2">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam.</p>
        </div>
        <div id="cont-4" class="slider-item" data-index="3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam.</p>
        </div>
        <div id="cont-5" class="slider-item" data-index="4">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam.</p>
        </div>
    </div>
  </div>

  <button class="nav-button prev"> < </button>
  <button class="nav-button next"> > </button>



  <div class="dots">
    <span data-index="0"></span>
    <span data-index="1"></span>
    <span data-index="2"></span>
    <span data-index="3"></span>
    <span data-index="4"></span>
  </div>
  
  <script src="./slider.js"></script>
</body>
</html>
