
    <div class="reviews">
        <div class="review-card">
            <img src="../../assets/img/testimonio1.png" alt="Tatiana Sanchez">
            <div class="review-content">
                <h3>Tatiana Sanchez</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>El sabor y la frescura de estas tortas son incomparables. ¡Muy recomendadas!</p>
            </div>
        </div>
        <div class="review-card">
            <img src="../../assets/img/testimonio2.png" alt="Carolina">
            <div class="review-content">
                <h3>Carolina</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Cada vez que compro una torta aquí, es un éxito total. ¡Sabor y presentación perfectos!</p>
            </div>
        </div>
        <div class="review-card">
            <img src="../../assets/img/testimonio3.png" alt="Jorge Cardona">
            <div class="review-content">
                <h3>Jorge Cardona</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>Excelente atención y tortas de primera calidad. ¡Un diez de diez!</p>
            </div>
        </div>
        <div class="review-card">
            <img src="../../assets/img/testimonio4.png" alt="Selena">
            <div class="review-content">
                <h3>Selena</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Su trabajo es lindísimo! Me salvó y pudo hacer la torta de mi hijita con pocos días y quedó espectacular! La súper recomiendo</p>
            </div>
        </div>
        <div class="review-card">
            <img src="../../assets/img/testimonio5.png" alt="Selena">
            <div class="review-content">
                <h3>Velenni</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Les di un modelo de torta y lo hicieron mil veces mejor al original, los detalles increíbles y ni qué decir del sabor, todo espectacular.</p>
            </div>
        </div>
        <div class="review-card">
            <img src="../../assets/img/testimonio6.png" alt="Selena">
            <div class="review-content">
                <h3>Andres</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>No solamente perfecta la decoración sino que exquisita!!!! Hay que destacar profesionalismo y la calidad humana con el que se manejan. Muy recomendable y ni hablar de la muñeca.</p>
            </div>
        </div>
    </div>
