@import url('../../css/styles.css');

/** MOBILE **/
html {
    scroll-behavior: smooth;
}

.contenedor_categoria {
    max-width: 100%;
    min-height: 10vh;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    margin-bottom: 40%;
    margin-top: -2rem;
}

.product-radio {
    display: none;
}

.contenedor_radio {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card a {
    display: flex;
    width: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-left: -0.5rem;
    font-family: var(--fontTitle);
    color: var(--colorPrimary);
}

.card img {
    display: flex;
    width: 60%;
    margin-left: -0.5rem;
    margin-top: -1rem;
}

#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2 {
    transform: translateX(-70%) scale(0.6);
    opacity: 0.5;
    z-index: 0;
}

#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3 {
    transform: translateX(50%) scale(0.6);
    opacity: 0.5;
    z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3 {
    transform: translateX(0) scale(1);
    z-index: 3;
}

.fondo_torta {
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    background-color: var(--colorTertiary);
    transform: rotate(-40deg) skew(10deg) translate(-6%);
    z-index: -1;
    margin-top: 10rem;
    margin-left: -5rem;
    margin-bottom: 2rem;
}

/* *TABLET */
@media screen and (min-width: 767px) {
    .contenedor_categoria {
        margin-bottom: 40%;    
    }

    .card a {
        font-size: 2.5rem;
    }

    .fondo_torta {
        width: 12rem;
        height: 12rem;
        margin-top: 40%;
        margin-left: -18%;
    }
}

/* *DESKTOP 1024 */
@media screen and (min-width: 1024px) {
    .contenedor_categoria {
        margin-bottom: 38%;
        margin-top: -3rem; 
    }

    .card a {
        font-size: 3rem;
    }

    .card img {
        margin-left: 6%;
        margin-top: 2.5rem;
        width: 45%;
    }
}

/* *DESKTOP 1280 */
@media screen and (min-width: 1280px) {    
    .contenedor_categoria {
        margin-bottom: 28%;    
    }

    .card a {
        margin-left: -2rem;
        font-size: 3.2rem;
    }

    .card img {
        margin-left: 2.5%;
        margin-top: 2.5rem;
        width: 40%;
    }

    .fondo_torta {
        margin-left: -20%;
        margin-top: 30%;
    }
}

/* *DESKTOP 1366*/
@media screen and (min-width: 1366px) {
    .card a {
        margin-left: -3rem;
    }

    .card img {
        margin-left: 0.5%;
    }

    .fondo_torta {
        margin-top: 32%;
    }
}

/* *DESKTOP 1440 */
@media screen and (min-width: 1440px) {
    .contenedor_categoria {
        margin-top: -5rem;
    }

    .card a {
        margin-left: -3rem;
    }

    .card img {
        margin-left: -1%;
        margin-top: 4rem;
    }

    .fondo_torta {
        margin-left: -20%;
        margin-top: 33%;
    }
}

/* *DESKTOP 1920 */
@media screen and (min-width: 1920px) {
    .contenedor_categoria {
        margin-bottom: 25%;    
    }

    .card a {
        margin-left: -6rem;
    }

    .card img {
        width: 50%;
        margin-left: -16%;
        margin-top: 6rem;
    }

    .fondo_torta {
        margin-left: -20%;
    }
}