<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Sección Footer -->
    <div class="svgFooter">
      <img src="../../assets/svg/footerBackground.svg" />
    </div>
    <footer>
      <div class="container_footer">
        <div class="info_footer">
          <!-- Logo y términos -->
          <div class="cajaLogo">
            <div class="logo">
              <img src="../../assets/img/logoFondo.png" alt="Logo" />
            </div>
            <div class="terminos">
              <p>
                <strong>¡Gracias por visitar nuestra tienda Gelatos y postres!</strong>
                ¿Tienes alguna pregunta o sugerencia? No dudes en ponerte en contacto con nuestro equipo amable y servicial. Estamos aquí para ayudarte a encontrar la torta perfecta para cualquier ocasión.
              </p>
            </div>
          </div>
          <!-- Información -->
          <div class="container_info">
            <div class="caja-contacto">
              <h3>Contacto</h3>
              <a href="#">Teléfono</a>
              <a href="#">Correo Electrónico</a>
              <a href="#">Dirección</a>
            </div>
            <!-- Social Media Links -->
            <div class="caja-redes">
              <h3>Redes Sociales</h3>
              <div class="contenedor_redesSociales">
                <a
                  href="https://www.instagram.com/gelatoypostres?igsh=c3Nsb2NhMmlteTFx"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
                <a
                  href="https://www.facebook.com/profile.php?id=100064138744012&mibextid=JRoKGi"
                  ><i class="fa-brands fa-facebook"></i
                ></a>
                <a
                  href="https://www.tiktok.com/@gelatopostresarte?_t=8mVw8hMxvra&_r=1"
                  ><i class="fa-brands fa-tiktok"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright Informacion -->
        <div class="caja_copy">
          <div class="pie_pagina">
            <p>Todos los derechos reservados © 2024  <b>Gelato Y Postres</b></p>
            <span class="terms-policy">
              <a href="">Términos y condiciones</a>
              <a href="">Política de privacidad</a>
            </span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
