
<body>
    <header class="header_contenedor">

        <nav class="header_nav">

            <a href="../../app/panel.html" class="logo-nav"><img src="../../assets/img/logo_claro_Gp.png" alt="Logo" class="logo_claro">
                <img src="../../assets/img/logo_oscuro_GP.png" class="logo_oscuro"></a>

            <ul class="sideBar">
                <li class="close-boton" onclick=esconderSideBar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 -960 960 960">
                            <path
                                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                        </svg></a>
                </li>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="../../pages/sobreNosotros.html">Nosotros</a></li>
                <li><a href="../../pages/productos.html">Productos</a></li>
                <li><a href="../../pages/personalizar.html">Personalizar torta</a></li>
                <li><a href="../../pages/contacto.html">Contacto</a></li>
            </ul>

            <ul>
                <li class="esconderEnMobile"><a href="../../index.html">Inicio</a></li>
                <li class="esconderEnMobile"><a href="../../pages/sobreNosotros.html">Nosotros</a></li>
                <li class="esconderEnMobile"><a href="../../pages/productos.html">Productos</a></li>
                <li class="esconderEnMobile"><a href="../../pages/personalizar.html">Personalizar torta</a></li>
                <li class="esconderEnMobile"><a href="../../pages/contacto.html">Contacto</a></li>
                <li class="menu-boton" onclick=mostrarSideBar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 -960 960 960">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                        </svg></a></li>
            </ul>

            <div class="expandirInput">
                <input type="search" class="inputBuscar" placeholder="Buscar" />
                <a href="#" id="searchIcon" onclick="ocultarLogo(event)"><i class="fa fa-search"></i></a>
            </div>

            <div class="nav_iconos">

                <div class="nav-icon">
                    <a href="../../pages/carrito.html"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="nav-icon">
                    <a href="../../pages/inicioDeSesion.html"><i class="fa fa-user"></i></a>
                </div>
                <div class="tema" onclick="mostrarOpciones()">
                    <i class="fa-solid fa-ellipsis-vertical menuTema"></i>
                    <div class="cuadro-pequeno">
                        <a href="#"><i class="fa-solid fa-sun sol"></i></a>
                        <i class="fa-solid fa-moon luna"></i>
                        <div class="toggle-switch" onclick="toggleModoOscuro()">
                            <span class="switch"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="onda-top"></div>
        </nav>

        <section class="container-onda">
            <div class="onda"></div>
        </section>

        <script src="../services/modal.js"></script>

    </header>
</body>
