<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulos</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css" />
</head>

<body>

    <main class="container-modulos" id="container-modulos">

        <div class="buscar-panel">
            <input type="search" class="inputBuscar" id="inputBuscar" placeholder="Buscar" />
            <i class="fa-solid fa-magnifying-glass iconoBuscar icono-panel"></i>
        </div>   

        <div class="modulos-titulo">
            <h2>Módulos</h2>
        </div>

        <div class="contenedor-iconos" id="contenedor-iconos">
            <div class="modulos-panel">
                <a href="../../app/categorias/lista-categorias.html"><i class="fa-solid fa-layer-group"><label>Categorías de productos</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-hockey-puck"><label>Coberturas (Tortas)</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-cube"><label>Detalles de pedidos</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-map-location-dot"><label>Direcciones de pedidos</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-cart-circle-check"><label>Estados de pago</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-pancakes"><label>Glaseados (Tortas)</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-money-check"><label>Métodos de pago</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-cubes"><label>Pedidos de clientes</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-chart-pie"><label>Porciones (Tortas)</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="../../app/productos/lista-productos.html"><i class="fa-solid fa-cupcake"><label>Productos
                            estándar</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-cake-candles"><label>Productos personalizar</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="../../app/rellenos/lista-rellenos.html"><i class="fa-solid fa-pie"><label>Rellenos (Tortas)</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="../../app/rol/lista-roles.html"><i class="fa-solid fa-user-shield"><label>Roles de usuarios</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-apple-whole"><label>Sabores (Tortas)</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="../../app/toppings/lista-toppings.html"><i class="fa-solid fa-cookie-bite"><label>Toppings (Tortas)</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="../../app/usuarios/lista-usuarios.html"><i class="fa-solid fa-users"><label>Usuarios</label></i></a>
            </div>
            <div class="modulos-panel">
                <a href="#"><i class="fa-solid fa-cash-register"><label>Ventas Gelato</label></i></a>
            </div>
        </div>

    </main>

</body>

</html>